.container {
    display: flex;
    justify-content: space-between; /* Рівномірно розподіляє елементи */
    margin-left: 400px; /* Відступ зліва */
    margin-right: 400px; /* Відступ справа */
}

.item {
    flex-grow: 1; /* Розтягує елементи на доступний простір */
    justify-content: flex-start; /* Вирівнює вміст зліва */
    /* Додайте стилі за потреби */
}
